<div class="container">
<form method="post" action="http://localhost:3000/adduser">
  <fieldset>
    <legend>EMPLOYEE MANAGEMENT SYSTEM</legend>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="staticEmail" name ="name" >
      </div>
    </div>
    <br/>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="staticEmail" name ="email">
      </div>
    </div>
    <br/>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Phone </label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="staticEmail" name ="phone">
      </div>
    </div>
    <br/>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">City</label>
      <div class="col-sm-10">
        <input type="text"  class="form-control" id="staticEmail" name ="city">
      </div>
    </div>
  
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
  <br/>
  <a href="http://localhost:3000/showUser" class="btn btn block btn-lg btn-success"> Show all employee</a>
</form>
</div>